* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.item_Info{
    position: relative;
    img{
        display: block;
    }
    .overlay {
        position: absolute; 
        bottom:105px; 
        top: 0;
        border-radius: 12px;
        color: #f1f1f1; 
        width: 100%;
        height: 350px;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;  
        text-align: center;
        button{
            margin-top:250px; 
            border-radius: 21px;
            border: 2px solid #393;
            cursor: pointer;
            color: #393;
            padding: 12px;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 23.4px */
            letter-spacing: 0.54px;
        }
      }
}
  .item_Info:hover .overlay {
    opacity: 1;
  }
.item{
    h2{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; 
        letter-spacing: 0.54px;
        text-align: center;
        margin-top: 20px;
       
    }
    img{
        border-radius: 20px; 
    }
}
.containter{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    .baner_block{
        background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
        height: 476px;
        margin-top: 50px;
        display:flex;
        margin-bottom: 107px;
        gap: 263px;
        .baner_block_left{
            padding: 27px;
        }
        .baner_block_right{
            text-align: start;
           max-width: 480px;
            h1{
                height: 179px;
                margin-top: 44px;
                color: #FFF;
                font-size:calc(60px + (90 - 60) * ( (80vw - 380px) / ( 1440 - 380) ));
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 108px */
                letter-spacing: 2.7px;
            }
            h2{
                color: #FFF;
                font-size:calc(40px + (49 - 40) * ( (80vw - 380px) / ( 1440 - 380) ));
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.5px;
            }
            input{
                padding: 26px 50px 26px;
                margin-top: 46px;
                width:473px;
                height: 75.441px;
                flex-shrink: 0;
                border-radius: 25.147px;
                background: #FFF;
                outline: none;
                border: none;
                color: #6C6C6C;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 21.6px */
                letter-spacing: 0.54px;
            }
            button{
                cursor: pointer;
                margin-top: 30px;
                border-radius: 25.147px;
                border: 2.395px solid #FFF;
                padding:20px  118px 20px 118px;
                background: transparent;
                color: #FFF;
                font-size: 28.739px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 34.487px */
                letter-spacing: 0.862px;
            }
        }
    }



  .catalog_rout{
    justify-content: start;
    margin-top: 28px;
    gap: 40px;
    display: flex;
    h1{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: 1.2px;
    }
    button{
        padding: 12px;
        cursor:pointer;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #8B8B8B;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 18.2px */
        letter-spacing: 0.42px;
    }
  }
  .category{
    border-radius: 20px;
    gap: 20px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  .product{
    grid-template-columns: repeat(4, 318px);
    grid-column-gap: 20px;
    grid-row-gap: 58px;
    display: grid;
    img{
        border-radius:20px;
        box-shadow: 5px 5px 10px
    }
    h2{
        color: #3A3A3A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        letter-spacing: 0.48px;
        margin-top: 18px;
        .mainCost{
            color: #000;
            margin-right: 50px;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0.6px;
        }
        .discount{
            padding-right: 43px;
            color: #8B8B8B;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 26px */
            letter-spacing: 0.6px;
            text-decoration-line: strikethrough;
        }
        .discount_proc{
            color: #FF32A1;
            font-size: 20px;    
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0.6px;
        }
    }
  
}
    .sale_Block{
        margin-left: auto;
        margin-right: auto;
        height: calc(400px + (638 - 400) * ( (80vw - 380px) / ( 1440 - 380) ));
        max-width: calc(400px + (1440 - 400) * ( (100vw - 380px) / ( 1440 - 380) ));
        background-blend-mode: multiply;
        background-image: url('./../../images/icons/SliderFon.svg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:rgba(0, 0, 0, 0.40);

        .sale_Block_content{
            padding-top: 116px;
            h1{
                color: #FFF;
                text-align: center;
                font-size: calc(30px + (63 - 30) * ( (100vw - 380px) / ( 1440 - 380) ));
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
            }
            h1:nth-child(2){
                padding-bottom: 40px;
            }
            button{
                width:390px;
                color: #2D2D2D;
                text-align: center;
                font-size: calc(16px + (25 - 16) * ( (100vw - 380px) / ( 1440 - 380) ));
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 13px;
                padding: 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border:none ;
                align-self: stretch;
            
            }
        }
    }
}
@media (max-width:1400px) {
    
    .containter{
        text-align: center;
        align-items: center;
        width: auto;
        .baner_block{
            gap:50px;
        }
       .category {
            border-radius: 20px;
            grid-column-gap: 32px;
            text-align: center;
            display: grid;
            grid-template-columns: 300px 300px 300px;
            margin-top: 20px;
            
        }
        .product{
            grid-template-columns: repeat(3, 300px);
            grid-column-gap: 32px;
            grid-row-gap: 58px;
            display: grid;
            text-align: center;
            justify-content: center;
            
            .overlay{
                width: 320px;
                  
                  button{
                   margin-left: auto;
                   margin-right: auto;
                  }
               }
        }
        
    }
}
@media(max-width:1000px){

        .containter .catalog_rout {
            justify-content: center;
            margin-top: 28px;
            gap: 40px;
            display: flex;
        }
        .containter .baner_block .baner_block_right {
            text-align: start;
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 45px;
        }

        .containter{
            text-align: center;
            align-items: center;
            width: auto;
            .catalog{
                .catalog_rout{
                    justify-content: start;
                }
            }
           .category {
                border-radius: 20px;
                grid-column-gap: 32px;
                text-align: center;
                display: grid;
                grid-template-columns: 300px 300px;
                margin-top: 20px;
                
            }
            .product{
                grid-template-columns: repeat(2, 300px);
                grid-column-gap: 32px;
                grid-row-gap: 58px;
                display: grid;
                text-align: center;
                justify-content: center;
                
                .overlay{
                    opacity: 1;
                    background: transparent;
                    margin-left: 20px;
                    width: 300px;
                    button{
                    justify-content: start;
                    }
                }
            }
            
        }
        .containter .baner_block {
            img{
                height:200px;
            }
            background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
            height:auto;
            margin-top: 50px;
            display: block;
            margin-bottom: 107px;
           
        }
}

@media (max-width: 700px) {

    .containter .catalog_rout {
        justify-content: center;
        margin-top: 28px;
        gap: 40px;
        display: flex;
    }
    .containter .baner_block .baner_block_right {
        text-align: start;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 45px;
    }
    .containter{
        text-align: center;
        align-items: center;
        width: auto;
       .category {
            border-radius: 20px;
            gap: 20px;
            text-align: center;
            display: block;
            margin-top: 20px;
        }
    }
    .product_container{
        .product {
            border-radius: 20px;
            gap: 20px;
            text-align: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 20px;
            .item_Info{
                margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        margin-left: auto;
                        margin-right: auto;
                    }    
            }
            .overlay {
                opacity:1;
                background: transparent;
                width: 300px;
                button{
                    display: block;
                    margin-top: 250px;
                    
                    
                }
            }
        }
       } 
        
    .containter .baner_block{
        img{
            height:200px;
        }
        background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
        height:auto;
        margin-top: 50px;
        display: block;
        margin-bottom: 107px;
    }
}

@media (max-width: 560px) 
{
    .containter .catalog_rout {
        justify-content: center;
        margin-top: 28px;
        gap: 40px;
        display: flex;
    }
    .containter .baner_block .baner_block_right {
        text-align: start;
        max-width: 480px;
        min-width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 45px;
    }
    .containter{
        text-align: center;
        align-items: center;
        width: auto;
       .category {
            border-radius: 20px;
            gap: 20px;
            text-align: center;
            display: block;
            margin-top: 20px;
        }
    }
    .product_container{
        .product {
            border-radius: 20px;
            gap: 20px;
            text-align: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 20px;
            .item_Info{
                margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        margin-left: auto;
                        margin-right: auto;
                    }    
            }
            .overlay {
                opacity:1;
                background: transparent;
                width: 300px;
                button{
                    display: block;
                    margin-top: 250px;
                    
                    
                }
            }
        }
       } 
        
    .containter .baner_block{
        img{
            height:200px;
        }
        background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
        height:auto;
        margin-top: 50px;
        display: block;
        margin-bottom: 107px;
    }

    .containter .baner_block .baner_block_right input {
        padding: 26px 50px 26px;
        margin-top: 46px;
        max-width: 370px;
        height: 75.441px;
        flex-shrink: 0;
        border-radius: 25.147px;
        background: #FFF;
        outline: none;
        border: none;
        color: #6C6C6C;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.54px;
    }

    .containter .baner_block .baner_block_right button {
        cursor: pointer;
        margin-top: 30px;
        border-radius: 25.147px;
        border: 2.395px solid #FFF;
        padding: 20px 118px 20px 118px;
        background: transparent;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.862px;
        max-width: 370px;
    }
}